body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    height: 20px;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    align-content: center;
}

.btn:hover {
    width: 150px;
    height: 40px;
    background-color: red;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 50%);
}

